# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.log

.python-version/

training/mlruns/
training/runs/
training/models/
training/pretrained_models/

# Датасеты
training/datasets/**
!training/datasets/.gitkeep
!training/datasets/README.md
!training/datasets/RDD/
!training/datasets/RDD/Czech/
!training/datasets/RDD/India/
!training/datasets/RDD/Japan/
!training/datasets/RDD/United_States/
!training/datasets/RDD/Czech/data.yaml
!training/datasets/RDD/Czech/dataset_split.csv
!training/datasets/RDD/India/data.yaml
!training/datasets/RDD/India/dataset_split.csv
!training/datasets/RDD/Japan/data.yaml
!training/datasets/RDD/Japan/dataset_split.csv
!training/datasets/RDD/United_States/data.yaml
!training/datasets/RDD/United_States/dataset_split.csv

test_videos/*
!test_videos/download_link.md
test_images/*

yolo8s.pt
yolov8n.pt
yolo26n.pt
Readme_old.md
jupyter.py
yolov8s.pt
models/*
.venv
.ipynb_checkpoints

sensors/ffmpeg_camera_readme.md
sensors/camera.py
