# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.log

# PDF и Word файлы (если не нужны в репозитории)
# *.pdf
# *.docx

# Скрипты конвертации (опционально)
# convert_*.py

convert_pdf_to_md.py
convert_word_to_md.py
Tasks.docx
projects/

.python-version/

training/mlruns/
training/runs/
training/models/
training/pretrained_models/
training/**/*.pt
training/**/*.onnx
training/**/*.engine

# Датасеты
training/datasets/**
!training/datasets/.gitkeep
!training/datasets/README.md

test_videos/*
!test_videos/download_link.md
test_images/*

yolo8s.pt
yolov8n.pt
yolo26n.pt
Readme_old.md
jupyter.py
yolov8s.pt
models/*
.venv
.ipynb_checkpoints

sensors/ffmpeg_camera_readme.md
sensors/camera.py
